.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--azul); 
    height: 85px;
}

.cabecalho__logo {
    width: 210px; 
}

.cabecalho__navegacao { 
    display: flex; 
    align-items: center;
    column-gap: 45px; 
    color: var(--cinza-claro);
}

.cabecalho_link {
    font-size: 17px;
}

.cabecalho_link:hover {
    cursor: pointer; 
    color: var(--neutro);
}