.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $azul;
    height: 85px;

    &__logo {
        width: 210px;
    }

    &__menu {
        display: none;
    }

    &__navegacao {
        display: flex;
        align-items: center;
        color: $cinza-claro;

        .navegacao__link {
            font-size: 17px;
            position: relative;
            width: 100px;
            text-align: center;

            ul {
                display: none;
                position: absolute;
                width: 100px;

                .submenu {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &:hover {
                cursor: pointer;
                color: $neutro;
                background-color: #364766;
                padding: 18.5% 0;

                ul {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;

                    .submenu {
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.18);
                        }
                    }
                }
            }
        }

        .navegacao__pesquisar {
            position: relative;
            margin-left: 10px;

            input {
                border-radius: 20px;
                padding: 4px;
                border: 1px solid $cinza-claro;
                outline: none;
                background-color: $azul;
                color: $neutro;

                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                }

                &[type="search"] {
                    padding-left: 10px;
                    padding-right: 25px;
                    font-size: 14px;
                }

                &::placeholder {
                    color: $cinza-claro;
                }
            }

            button {
                position: absolute;
                right: 7px;
                bottom: 4px;
                border: none;
                outline: none;
                background: transparent;
                color: $cinza-claro;
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: 768px) {

        &__menu {
            display: block;
        }

        &__navegacao {
            display: none;
        }
    }
}