main {
    width: 100%;
    height: 600px;
    position: relative;

    .carousel {

        .carousel-main {
            position: relative;

            .black-overlay {
                width: 100%;
                background: linear-gradient(150deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            div {
                position: absolute;
                top: 120px;
                left: 200px;
                width: 264px;
                height: 200px;
                z-index: 2;

                h2 {
                    font-weight: 700;
                    font-family: $inter;
                    font-size: 24px;
                    color: $neutro;
                    width: 180px;
                    margin-bottom: 15px;
                    height: 46px;
                }

                >p {
                    font-weight: 400;
                    font-family: $inter;
                    font-size: 16px;
                    color: $neutro;
                    margin-bottom: 15px;
                }

                ul {
                    display: flex;
                    justify-content: space-between;
                    width: 130px;
                    margin-bottom: 15px;

                    li {
                        font-size: 12px;
                        color: $neutro;
                        font-family: $inter;
                    }

                    .hd {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        svg {
                            margin-right: 0.3rem;
                        }
                    }
                }

                button {
                    background-color: $vermelho;
                    border: 0;
                    width: 200px;
                    padding: 0.875rem;
                    font-size: 24px;
                    border-radius: 3px;
                    transition: 0.5s all;

                    a {
                        color: $neutro;
                        text-decoration: none;
                    }

                    &:hover {
                        filter: brightness(70%);
                    }
                }
            }
        }

        div {
            object-fit: cover;
            width: 100%;
            height: 600px;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .category {
        height: 300px;
        padding: 1rem 0;
        position: relative;
        bottom: 140px;
        border-radius: 3px;

        h3 {
            margin-left: 4rem;
            font-weight: 600;
            font-size: 18px;
            color: $vermelho;
            margin-bottom: 10px;
        }

        .category-movies {
            margin-left: 4rem;
            margin-right: 4rem;

            .prev {
                left: -30px;
                position: absolute;
                bottom: 150px;
            }

            .next {
                right: -30px;
                position: absolute;
                bottom: 150px;
            }

            .category-movies-movie {
                margin-right: 4rem;
                width: 230px;

                img {
                    width: 100%;
                    height: 230px;
                    object-fit: cover;
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                }

                div {
                    background-color: $preto;
                    border-bottom-left-radius: 7px;
                    border-bottom-right-radius: 7px;


                    p {
                        color: $neutro;
                        padding: 8px 0 8px 14px;
                    }
                }
            }
        }
    }



    @media screen and (max-width: 992px) {
        .carousel {
            .carousel-main {
                div {
                    position: absolute;
                    top: 120px;
                    left: 100px;
                    width: 264px;
                    height: 200px;
                    z-index: 2;
                }
            }

            div {
                height: 400px;
            }
        }

        .category {
            bottom: 0;
        }
    }

    @media screen and (max-width: 600px) {
        .carousel {
            .carousel-main {
                div {

                    h2 {
                        font-size: 20px;
                    }

                    >p {
                        font-size: 14px;
                    }

                    ul {
                        li {
                            font-size: 10px;
                        }
                    }

                    button {
                        width: 120px;
                        padding: 0.375rem;
                        color: $neutro;
                        font-size: 18px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        height: 400px;

        div {
            object-fit: cover;
            height: 400px;
        }

        .carousel {
            .carousel-main {
                div {
                    left: 35px;
                    width: 85%;

                    >p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
