@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');
$preto: #05070D;
$vermelho: #C80410;
$azul: #25354F;
$laranja: #BD4B1A;
$verde-claro: #869E8E;
$cinza-claro: #BFC7C6;
$neutro: #FFFFFF;
$inter: 'Inter', sans-serif;
